language: ruby

rvm:
  - 2.4
  - 2.3
  - 2.2
  - 2.1

script:
  - bundle exec rubocop
  - bundle exec rspec

jobs:
  include:
    - stage: test
      script:
        - bundle exec rubocop
        - bundle exec rspec

    - stage: deploy
      script: echo DEPLOY